<?xml version="1.0"?>
<launch>
    <arg name="limited" default="true"/>

    <include file="$(find ur_robot_driver)/launch/ur5e_cam_2f85_bringup.launch" >
    	<arg name="limited" value="false" />
    </include>

    <include file="$(find ur5e_cam_2f85_moveit_config)/launch/ur5e_cam_2f85_moveit_planning_execution.launch" >
    	<arg name="limited" value="$(arg limited)" />
    </include>

    <include file="$(find control_wrapper)/launch/ur5e/ur_control_wrapper.launch" >
    	<arg name="simulator_mode" value="false" />
    </include>

</launch>

